/* * {
    border-style: ;
} */

#tip-calc {
   text-align: center;
   font-weight: bold;
   /* border-bottom: 2px solid black; */
   padding-bottom: 10px;
}

* p {
     border-bottom: 2px solid black;
}

#alc-btn {
    border-radius: 5px; width: fit-content;
}